/* Adopt font from company website */
form {
  font-family: 'Poppins', sans-serif;
}

/*Overwrite chrome autofill styles*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(21, 61, 92) inset !important;
}

/*Change text in autofill background color*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.filter-condition-div {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
